{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "airbnb",
    "rules": {
        "linebreak-style": [0],
        "quotes": [0],
        "no-underscore-dangle": [0]
      }
}
