<!doctype html>
<html data-ng-app="feedNotifier" ng-csp="">
  <head>
    <title>Feed Notifier</title>
    <style type="text/css">
      body {
        margin: 10px;
        white-space: nowrap;
      }

      h1 {
        font-size: 15px;
      }

      #container {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    </style>

    <link rel="stylesheet" media="all" href="css/bootstrap.css">
    <link rel="stylesheet" media="all" href="css/main.css">
    <base target="_blank">
  </head>

  <body data-ng-controller="FeedsConfigurer">
    <section id="main">
      <nav>
        <h3>Configure RSS Feeds</h3>
        <button id="add-new-feed" class="btn" data-ng-click="AddNewFeed()">Add New Feed</button>
      </nav>
      <ul>
        <li data-ng-repeat="feed in feeds">
          <img data-ng-src="{{feed.icon}}"> <a href="{{feed.alternateLink}}">{{feed.title}}</a>  {{feed.size}}
          <span class="date">{{feed.updatedDate}}</span>
        </li>
      </ul>

      <script src="lib/angular-1.1.0.min.js"></script>
      <script src="js/configure_feeder.js"></script>
  </body>
</html>
