<!doctype html>
<html data-ng-app="feedNotifier" ng-csp="">
  <head>
    <title>Feed Notifier</title>
    <link href="css/googleapis_material_icons.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.min.css"/>
    <base target="_blank">
  </head>

  <body data-ng-controller="FeedsConfigurer">
    <h5 class="center-align">Configure RSS Feeds</h5>
    <h6 class="center-align">Alpha version. Please check <a href="https://github.com/lalugeo/chrome_rss_feed">here</a> for more releases</h6>
    <div class="right-align">
    <a class="btn-floating waves-effect waves-light orange" data-ng-click="AddNewFeed()">
      <i class="material-icons center">add</i>
    </a>
  </div>
    <ul class="collapsible" data-collapsible="accordion" watch>
      <li data-ng-repeat="feed in feeds track by feed.id">
        <div class="collapsible-header">
          {{feed.desc}}
          <span ng-class="{'new badge': feed.items_unread>0 && feed.active,'badge': feed.items_unread<=0 || !feed.active}" ng-attr-data-badge-caption="{{(feed.active)?'New':'(Inactive)'}}" ng-bind="feed.items_unread"></span>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="feed_desc" type="text" data-length="30" class="validate" ng-model="feed.desc">
                  <label for="feed_desc" data-error="description too long">Description</label>
                </div>
                <div class="input-field col s6">
                  <input id="feed_url" type="url" class="validate" ng-model="feed.url">
                  <label for="feed_url" data-error="url is not valid">Feed URL</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="feed_username" type="text" ng-model="feed.username">
                  <label for="feed_username">Username (optional)</label>
                </div>
                <div class="input-field col s6">
                  <input id="feed_password" type="password" ng-model="feed.password">
                  <label for="feed_password">Password (optional)</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="feed_interval" type="number" class="validate" ng-model="feed.interval">
                  <label for="feed_interval">Check Frequency (secs)</label>
                </div>
                <div class="switch col s6">
                  <label>
                    Inactive
                    <input type="checkbox" ng-model="feed.active" ng-checked="feed.active">
                    <span class="lever"></span>
                    Active
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="switch col s6">
                  <button class="btn waves-effect waves-light red" type="submit" name="action" data-ng-click="DeleteFeed(feed.id)">Delete
                    <i class="material-icons right">delete</i>
                  </button>
                </div>
                <div class="switch col s6">
                  <button class="btn waves-effect waves-light green" type="submit" name="action" data-ng-click="SaveFeed(feed.id)">Save
                    <i class="material-icons right">save</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>

    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/angular-1.5.6.min.js"></script>
    <script type="text/javascript" src="css/materialize/js/materialize.min.js"></script>

    <script src="js/configure_feeder.js"></script>
    <script src="kernel/feed/feed_controller.js"></script>
    <script src="kernel/feed/feed_reader.js"></script>
  </body>
</html>
