<!doctype html>
<html data-ng-app="feedNotifier" ng-csp="">
  <head>
    <title>Feed Notifier</title>
    <link href="css/googleapis_material_icons.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.min.css"  media="screen,projection"/>
    <base target="_blank">
  </head>

  <body data-ng-controller="FeedsConfigurer" >
    <h4>Configure RSS Feeds</h4>
    <a class="btn-floating btn-large waves-effect waves-light red" data-ng-click="AddNewFeed()"><i class="material-icons">add</i></a>
    <ul class="collapsible" data-collapsible="accordion">
      <li data-ng-repeat="feed in feeds">
        <div class="collapsible-header">{{feed.desc}}<span class="new badge">{{feed.interval}}</span></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>

    <script src="lib/angular-1.1.0.min.js"></script>
    <script src="js/configure_feeder.js"></script>
    <script src="kernel/feed/feed_controller.js"></script>
    <script src="kernel/feed/feed_reader.js"></script>
    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="css/materialize/js/materialize.min.js"></script>
  </body>
</html>
